@{
    ViewBag.Title = "Документация";
}

<link rel="stylesheet" type="text/css" href="~/lightbox2-dev/dist/css/lightbox.min.css">
<script src="~/lightbox2-dev/dist/js/lightbox-plus-jquery.min.js"></script>


<section class="section-content">
    <div class="container container-content" style="margin-top:40px!important; margin-bottom:40px!important">
        <div class="row" style="margin-left:auto; margin-right:auto">
            <h4 style="font-family: 'Montserrat', sans-serif;" class="documentation-header">Документация</h4>
            <hr style="border: none; color: #018A76; background-color: #018A76; height: 2px;" />
            <div class="documentation-gallery">
                <a data-lightbox="mygallery" href="~/Content/img/Documentation/1.jpg">
                    <img src="~/Content/img/Documentation/1.jpg" />
                </a>
                <a data-lightbox="mygallery" href="~/Content/img/Documentation/2.jpg">
                    <img src="~/Content/img/Documentation/2.jpg" />
                </a>
                <a data-lightbox="mygallery" href="~/Content/img/Documentation/3.jpg">
                    <img src="~/Content/img/Documentation/3.jpg" />
                </a>
                <a data-lightbox="mygallery" href="~/Content/img/Documentation/4.jpg">
                    <img src="~/Content/img/Documentation/4.jpg" />
                </a>
                <a data-lightbox="mygallery" href="~/Content/img/Documentation/5.jpg">
                    <img src="~/Content/img/Documentation/5.jpg" />
                </a>
            </div>
        </div>
    </div>
</section>




